/*/* ============================================
============================================

0- Notes about the project system 
-----------------------------------
1- Global Css "root , body ..etc"
-----------------------------------
2- Sections work
2.1 nav
2.2 hero section [header text + map]
2.3 featured In section
2.4 company features "why use?"
2.5 
-----------------------------------
3- buttons 
3.1 hero section btn (SHOP NOW)
 ============================================
============================================ */

/*
--- TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 40
Semi-bold: 600
heading-Bold: 800

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
0.5px
0.75px

--- BORDER-RADIUS
Default: 4px
Medium: 11px

---  WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ============================================ 
                  -global css
============================================  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* convert to 10px for using rem*/
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
}
:root {
  /* base colors */
  --clr-base: #555;
  --clr-base-lt: #999;
  --clr-base-dk: #333;

  /* primary colors */
  --clr-primary: #ee0202;
  --clr-primary-lt: #fde6e6;
  --clr-primary-dk: #9e0303;

  /* secondary colors */
  --clr-secondary-1: #94df01;
  --clr-secondary-2: #018f8f;

  /* base font size */
  --fs-base: 1.6rem;

  /* larger  heading font sizes */
  --fs-giga: 6rem;
  --fs-mega: 4rem;
  --fs-kilo: 3.1rem;
  /* heading font sizes */
  --fs-h1: 2.8rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.8rem;
  /* smaller font sizes */
  --fs-milli: 1.4rem;
  --fs-micro: 1rem;

  /* 2 font family */
  --ff-base: "Rubik", sans-serif;
  --ff-bold: "Montserrat", sans-serif;

  /* border raduse */
  --border-r: 0.2rem;
  /* --shadow */
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  color: var(--clr-base);
  line-height: 1;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
div > img {
  border-radius: var(--border-r);
}
li {
  list-style: none;
}

.mother-container {
  width: min(90%, 80rem);
  margin: 1rem auto;
}
.section-start--s-title {
  color: var(--clr-base-dk);
  font-size: var(--fs-milli);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}
.section-head--title {
  font-family: var(--ff-bold);
  color: var(--clr-primary);
  font-size: var(--fs-kilo);
  letter-spacing: -1px;
  margin-bottom: 12rem;
}
/* ============================================ 
                  2- sections work 
============================================  */
/* ------------------------------------------- 
                  2.1- nav
-------------------------------------------  */
.nav--bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;

  margin-bottom: 3.6rem;
}
.nav--bar .logo {
  color: var(--clr-primary);
  font-size: var(--fs-kilo);
  font-family: var(--ff-bold);
}
.nav--bar svg {
  height: 4rem;
  width: 4rem;
  stroke-width: 3;
  stroke: var(--clr-primary);
}
/* burger menu ----------------- */
.nav--links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: none;
}

/* ------------------------------------------- 
                  2.2- hero section
-------------------------------------------  */
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
}
.hero--head-title {
  font-size: var(--fs-mega);
  font-family: var(--ff-bold);
  color: var(--clr-base-dk);
  line-height: 1.05;
  letter-spacing: -1.5px;
  font-weight: 800;
  min-width: 90%;
  /* max-width: 400px; */
  margin-bottom: 2.4rem;
}
.hero-sub-text {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2.6rem;
}
/* deleting some text
.hero-sub-text span {
  color: var(--clr-primary);
  font-size: var(--fs-milli);
  font-weight: 500;
} */
.map-container {
  background-color: var(--clr-secondary-2);
  width: 100%;
  min-height: 30rem;

  box-shadow: var(--shadow);
}

/* ------------------------------------------- 
              2.3- featured In
-------------------------------------------  */

.featured-in-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 12rem;

  /* animation name depand on the scorll that comes from JavaScript [right,or left]*/
  animation: 6s linear infinite;
  /* animation-name: logos-left; */
}

.single-featured--container {
  flex-shrink: 0;
  flex-basis: 12rem;
}
.single-featured {
  display: block;
  max-width: 100%;
  opacity: 60%;
  filter: brightness(0);
}
/* hero title drill images */
.drill-relative {
  position: relative;
}
.drill-1 {
  max-width: none;
  width: 6em;
  position: absolute;
  top: -1.86em;
  left: 1em;

  transform: rotate(-225deg);
}
.drill-2 {
  max-width: none;
  width: 6em;
  position: absolute;
  top: -1.86em;
  left: -4.44em;

  transform: rotate(-45deg);
}

/* ------------------------------------------- 
           2.4- Features 01 02 03
-------------------------------------------  */
.featurs-title {
  /* style comes from the globle section "section-head--title" */
}

.featurs-title span {
  font-size: var(--fs-mega);
  color: var(--clr-secondary-2);
}
.featurs-grid--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
}
.feature-info {
  /* background-color: #b3dddd; */
  /* padding: 2rem; */
  margin-bottom: 4rem;
  position: relative;
}
.feature-info .feature-num {
  display: block;
  font-family: var(--ff-base);
  font-weight: 600;
  font-size: var(--fs-giga);
  color: var(--clr-secondary-2);
  opacity: 50%;
  position: absolute;
  top: -1em;
  left: -0.035em;
}

.feature-info .feature-title {
  font-size: var(--fs-h2);
  color: var(--clr-base-dk);
  margin-bottom: 1.8rem;
}
.feature-info .feature-text {
  max-width: 20em;
  line-height: 1.3;
}
.feature-img {
  margin-bottom: 20rem;
}

/* ------------------------------------------- 
           2.4- reviews 
-------------------------------------------  */
/* s-title and head title style comes from globel secton */
.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 14rem;
}

.single-review-container svg {
  /* fill: var(--clr-primary); */
  stroke: #94df01;
  width: 3rem;
  height: 3rem;
}

.qoutation {
  /* color: red; */
  /* stroke: red; */
  /* stroke: #000 !important; */
  fill: red !important;
}
.single-review-container {
  /* background-color: #018f8f; */
}
.stars-container {
  display: flex;
}
.stars-container svg {
  width: 5rem;
  height: 5rem;
}
/* ============================================ 
                  3-buttons
============================================  */
/* ------------------------------------------- 
      3.1- hero section btn (SHOP NOW)
-------------------------------------------  */
.hero-btn {
  color: white;
  display: inline-block;
  font-family: var(--ff-bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: var(--clr-primary);
  font-size: var(--fs-h2);
  font-weight: 600;
  padding: 0.5em 1.2em;
  border-radius: var(--border-r);
}

/* ------------------------------------------- 
      3.1- hero section btn (SHOP NOW)
-------------------------------------------  */
.single-featured--container {
  animation: all;
}

@keyframes logos-left {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes logos-right {
  100% {
    transform: translateX(100%);
  }
}
