/*/* ============================================
============================================

0- Notes about the project system 
-----------------------------------
1- Global Css "root , body,.body ..etc"
-----------------------------------
2- Sections work
2.1 nav
2.2 hero section [header text + map]
2.3 featured In section
2.4 company features "why use?"
2.5 
-----------------------------------
3- buttons 
3.1 hero section btn (SHOP NOW)
-----------------------------------
4-classes that are manipulated by JS
 ============================================
============================================ */

/* - Font weights
Default: 40
Semi-bold: 600
heading-Bold: 800

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6 
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
} */

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
div > img {
  border-radius: var(--border-r);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
input:focus,
textarea:focus {
  outline: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  /* convert to 10px for using rem*/
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body,
.body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* ============================================ 
                  -global css
============================================  */

:root {
  /* base colors */
  --clr-base: #555;
  --clr-base-lt: #ffffff;
  --clr-base-dk: #333;

  /* primary colors */
  --clr-primary: #ee0202;
  --clr-primary-lt: #fcccca;
  --clr-primary-dk: #9e0303;

  /* secondary colors */
  --clr-secondary: #018f8f;
  --clr-secondary-lt: #80c7c77e;

  /* font family */
  --ff-base: 'Rubik', sans-serif;
  --ff-bold: 'Montserrat', sans-serif;

  /* font weight */
  --base-bold: 400;
  --Semi-bold: 500;
  --heading-Bold: 700;

  /* line height */
  --line-height-: 1;

  /* border raduse */
  --border-r: 0.2rem;

  --text-max-width: min(80%, 30em);

  /* --shadow */
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --shadow-lt: 0px 0px 13px -6px rgba(0, 0, 0, 0.51);
  /* transitions */
  --base-transition: all 280ms ease;
  /*  font sizes */

  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2.2rem;
  --fs-650: 2.8rem;
  --fs-700: 3.1rem;
  --fs-800: 4rem;
  --fs-900: 6rem;

  --fs-base: var(--fs-400);
  --fs-hero-heading: var(--fs-800);
  --fs-heading: var(--fs-700);
  --fs-xs-title: var(--fs-300);
  --fs-btn: var(--fs-600);

  --screen-Max-Width: 1220px;

  --sections-padding: 1.2rem;
}
@media (min-width: 50em) {
  :root {
    --fs-base: var(--fs-500);
    --fs-hero-heading: calc(var(--fs-800) + 1rem);
    --fs-heading: calc(var(--fs-700) + 0.5rem);
    --fs-xs-title: var(--fs-400);
    --fs-btn: var(--fs-600);

    --sections-padding: 1.8rem;
  }
  .drill-1,
  .drill-2 {
    display: none;
  }
}
@media (min-width: 77em) {
  :root {
    --sections-padding: 4rem;
  }
}
body,
.body,
.observer {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  color: var(--clr-base);

  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.overflow {
  overflow: hidden;
  position: relative;
}
/* centring and padding */
.container {
  width: min(100% - (var(--sections-padding) * 2), var(--screen-Max-Width));
  margin-inline: auto;
}

.section-start--s-title {
  color: var(--clr-base-dk);
  font-size: var(--fs-xs-title);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}
.section-head--title {
  font-family: var(--ff-bold);
  color: var(--clr-primary);
  font-size: var(--fs-heading);
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 12rem;
}

.btn {
  color: var(--clr-base-lt);
  font-family: var(--ff-bold);
  font-size: var(--fs-btn);
  background-color: var(--clr-primary);
  border-radius: var(--border-r);

  display: inline-block;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: var(--Semi-bold);
  padding: 0.5em 1.2em;

  box-shadow: var(--shadow-lt);
  transition: all 0.2s ease-in;
}

.even-columns {
  display: grid;
  gap: 8rem;

  /* to make rows have the same hight */
  grid-auto-rows: 1fr;
}

@media (min-width: 50em) {
  .even-columns {
    display: grid;
    /* grid-auto-flow: column;
    grid-auto-columns: 1fr; */

    grid-template-columns: 1fr 1.5fr;

    gap: 5rem;
  }
}
/* ============================================ 
                  2- sections work 
============================================  */
/* ------------------------------------------- 
                  2.1- nav
-------------------------------------------  */
/* pc first, only for nav */
.nav--bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  height: 6vh;
  padding-inline: var(--sections-padding);
  margin-top: 1rem;
}

.logo {
  color: var(--clr-primary);
  font-size: var(--fs-700);
  font-family: var(--ff-bold);
}
.nav--links {
  display: flex;
  gap: 3rem;
}
.link {
  font-weight: var(--Semi-bold);
  transition: var(--base-transition);
}

.link:hover,
.link:focus {
  color: var(--clr-primary);
}
/* burger btn style */
.lines-conatiner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.line {
  caret-color: transparent;
  background: var(--clr-primary);
  width: 2.3em;
  height: 0.3em;
  border-radius: var(--border-r);
  transition: var(--base-transition);
}
.burger-btn {
  display: none;
  z-index: 999;
  padding: 0.5rem;
}
/* for mobile */
@media (max-width: 50em) {
  .burger-btn {
    display: block;
  }
  .nav-links-container {
    font-size: var(--fs-600);
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: 100vh;
    z-index: 9;
    background-color: var(--clr-secondary);
    color: var(--clr-base-lt);
    transition: var(--base-transition);

    /* hid */
    visibility: hidden;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    filter: blur(5px);
  }
  .nav--links {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* ------------------------------------------- 
                  2.2- hero section
-------------------------------------------  */

.hero--head-title {
  font-size: var(--fs-hero-heading);
  font-family: var(--ff-bold);
  color: var(--clr-base-dk);
  line-height: 1.1;
  letter-spacing: -1.5px;
  max-width: 11em;

  /* max-width: 400px; */
  margin-bottom: 2.4rem;
}
.hero-sub-text {
  max-width: var(--text-max-width);
  margin-bottom: 5rem;
}

.hero-img-container {
  align-self: center;
  justify-self: center;
  max-width: min(100%, 25em);

  box-shadow: var(--shadow);
  border-radius: var(--border-r);
}

/* ------------------------------------------- 
              2.3- featured In
-------------------------------------------  */

.featured-in-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  transition: all 100ms linear;
}
.about-title {
  margin-bottom: 1rem !important;
}
.single-featured--container {
  flex-shrink: 0;
  flex-basis: 12rem;
}
.divider {
  flex-shrink: 0;
  flex-basis: 0.4rem;
  height: 3rem;

  margin-inline: 2.6rem;
  background-color: var(--clr-base);
}
.single-featured {
  opacity: 60%;
  filter: brightness(0);
}

/* hero title drill images */
.drill-relative {
  position: relative;
}
.drill-1 {
  width: 6.5em;
  position: absolute;
  top: 0.95em;
  left: 0em;

  transform: rotate(180deg);
}
.drill-2 {
  width: 4.8em;
  position: absolute;
  top: 0.97em;
  left: -2.09em;
}

/* ------------------------------------------- 
           2.4- about us
-------------------------------------------  */
.about-section {
  font-size: var(--fs-600);
  color: var(--clr-base-lt);

  /* text-transform: capitalize; */
}
.about-text-1 span,
.about-text-2 span {
  font-weight: var(--Semi-bold);
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.8rem;
}

.color-box-1 {
  background-color: var(--clr-secondary);
}
.color-box-2 {
  background-color: var(--clr-primary);
  grid-column: 1/1;
  grid-row: 2;
}

.about-text-1 {
  background-color: var(--clr-secondary);
  grid-column: 1 / span 4;
}
.about-text-2 {
  background-color: var(--clr-primary);
  grid-column: 2 / span 4;
}
.about-text-1,
.about-text-2 {
  padding: 1rem;
}
/* ------------------------------------------- 
           2.4- Features 01 02 03
-------------------------------------------  */

.featurs-title span {
  /*  for number 3 in the section title */
  font-size: var(--fs-800);
  color: var(--clr-secondary);
}

.featurs-grid--container {
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 3.5rem;
}
.feature-img {
  max-width: 51rem;
  /* adding more space after feature img*/
  /* on mobile view */
  margin-bottom: 6rem;
}
.featurs-grid--container > div {
  justify-self: center;
  align-self: center;
}

@media (min-width: 50em) {
  .featurs-grid--container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10rem;
  }
  .feature-img {
    margin-bottom: 0rem;
  }
}

.feature-num {
  font-weight: var(--heading-Bold);
  color: var(--clr-secondary-lt);
  font-size: calc(var(--fs-900) + 1rem);
  line-height: 0.8;
  margin-inline: -0.033em;
}
.feature-title {
  font-size: var(--fs-650);
  color: var(--clr-base-dk);
  margin-bottom: 1.8rem;
}
.feature-text {
  max-width: var(--text-max-width);
}

/* ------------------------------------------- 
           2.4- reviews 
-------------------------------------------  */
/* s-title and head title style comes from globel secton */
.reviews {
  overflow-x: hidden;
}
.reviews-container {
  position: relative;

  height: 26.5rem;
  width: 100%;
  margin-bottom: 4rem;
}
.single-review-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.single-review-container:nth-child(3) {
  transform: translateX(200%);
}
.single-review-container {
  min-width: 100%;
  background-color: var(--clr-secondary-lt);
  border-radius: var(--border-r);
  padding: 4rem 3rem;

  transition: all 0.5s ease-in-out;
}

.quotation_icon {
  width: 9rem;
  height: 9rem;
  fill: var(--clr-primary);

  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.stars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin-bottom: 3rem;
}
.stars-container svg {
  width: var(--fs-600);
  height: var(--fs-600);
}

.single-review--text {
  color: var(--clr-base-dk);
  font-size: var(--fs-500);
  max-width: 18em;
  margin-inline: auto;

  text-align: center;
  margin-bottom: 3rem;
}
.single-review--name {
  text-align: center;
  font-size: var(--fs-300);
}

/* ------------------------------------------- 
2.5- packages section
-------------------------------------------  */

.packages-container {
  display: grid;
  justify-content: center;
  gap: 12rem;
}
.packages-container > article {
  justify-self: center;
}
@media (min-width: 45em) {
  .packages-container {
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }
  .single-package-container:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (min-width: 75em) {
  .packages-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
  }
  .single-package-container:nth-child(3) {
    grid-column: auto;
  }
}
.single-package-container {
  width: min(100%, 21em);
  border-radius: var(--border-r);
  box-shadow: var(--shadow-lt);
  overflow: hidden;
  position: relative;
}

.package-heading {
  color: var(--clr-base-lt);
  font-size: var(--fs-heading);
  font-family: var(--ff-bold);
  letter-spacing: -0.5px;
}
.package-price {
  color: var(--clr-base-lt);
  font-family: var(--ff-base);
  font-size: var(--fs-800);
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}
.package-price span {
  /* $ */
  font-size: var(--fs-600);
}

.package-heading,
.package-list {
  padding: 2rem;
}

.package-img-container {
  width: 100%;
  height: 20rem;
  background: linear-gradient(
      22deg,
      rgba(238, 2, 2, 0.8) 0%,
      rgba(238, 2, 2, 0.4) 49%,
      rgba(238, 2, 2, 0.16) 100%
    ),
    url('../images/packages/woodworking.jpg') no-repeat center / cover;

  border-top-left-radius: var(--border-r);
  border-top-right-radius: var(--border-r);

  /* to move package heading to bottom */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1;
  margin-bottom: 2rem;
}
.single-package-container:nth-child(2) .package-img-container {
  background: linear-gradient(
      22deg,
      rgba(238, 2, 2, 0.8) 0%,
      rgba(238, 2, 2, 0.4) 49%,
      rgba(238, 2, 2, 0.16) 100%
    ),
    url('../images/packages/metal.jpg') no-repeat center center / cover;
}

.single-package-container:nth-child(3) .package-img-container {
  background: linear-gradient(
      22deg,
      rgba(238, 2, 2, 0.8) 0%,
      rgba(238, 2, 2, 0.4) 49%,
      rgba(238, 2, 2, 0.16) 100%
    ),
    url('../images/packages/homeWorkShop.jpg') no-repeat center center / cover;
}

.best-package {
  box-shadow: var(--shadow);
  transform: scale(1.04);
}
.best-package:before {
  content: 'best value';
  color: var(--clr-primary);
  font-weight: var(--Semi-bold);
  font-size: var(--fs-300);
  background-color: rgba(255, 255, 0, 1);
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 0.2em 4em;
  transform: rotate(45deg);

  position: absolute;
  top: 2.3em;
  right: -4.3em;
}

.package-list {
  font-size: var(--fs-600);
  font-weight: var(--Semi-bold);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.package-list li {
  /* just to center the icons with list li */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.package-list svg {
  height: 1.1em;
  width: 1.1em;
  fill: var(--clr-base-dk);
}
.package-link:hover svg,
.package-link:active svg {
  stroke: var(--clr-base-dk);
  animation: link-arrows-animation 600ms ease infinite;
}

/* ------------------------------------------- 
              4- contact
-------------------------------------------  */
.map-container {
  position: relative;
  background: url('./../images/baghdad-map.jpg') no-repeat center center / cover;
  height: 90%;
  width: 100%;
  border-radius: var(--border-r);
}
.contact-section .even-columns {
  /* overwriting the value comming form ".even-columns" */
  gap: 4rem;
}
.contact-section h2 {
  /* overwriting the value comming form "section-head--title" */
  margin-bottom: 1rem !important;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  background-color: var(--clr-secondary-lt);
  border-radius: var(--border-r);
  padding: 1rem;
}
.single-input-container > * {
  display: block;
}
.single-input-container label {
  font-size: var(--fs-500);
  font-weight: var(--Semi-bold);

  margin-bottom: 0.3rem;
}
.single-input-container input,
textarea {
  border: none;
  background-color: var(--clr-secondary-lt);
  padding: 0.3em;
  width: 78%;
}
.single-input-container textarea {
  resize: vertical;
  max-width: 30rem;
  max-height: 20rem;
  min-height: 8rem;
}

/* map loaction pins */
.map-pin {
  color: var(--clr-base-lt);
  font-weight: var(--Semi-bold);
  letter-spacing: 0.6px;
  line-height: 1;
  text-align: center;

  position: absolute;
  transition: var(--base-transition);
}
.map-pin-1 {
  top: 18%;
  right: 10%;
}
.map-pin-2 {
  top: 65%;
  right: 30%;
}

.map-pin a {
  /* to center icons with address */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.map-pin svg:first-child {
  /* for the location icon 🩸 */
  fill: var(--clr-primary);
  display: inline;
  width: calc(var(--fs-base) + 1.5rem);
  height: calc(var(--fs-base) + 1.5rem);
}
.map-pin svg:last-child {
  /* for the arrow icon ➡ */
  width: calc(var(--fs-base) + 0.5rem);
  height: calc(var(--fs-base) + 0.5rem);
  stroke: var(--clr-base-lt);
}

.map-pin:hover svg:last-child,
.map-pin:active svg:last-child {
  stroke: var(--clr-primary);
  animation: link-arrows-animation 600ms ease infinite;
}
.map-pin:hover,
.map-pin:focus {
  color: var(--clr-primary-lt);
}
/* ------------------------------------------- 
2.3- footer section
-------------------------------------------  */
.footer-section {
  background-color: var(--clr-base-dk);
  color: var(--clr-base-lt);
  border-top: 0.2em solid var(--clr-primary);
  padding-block: 4rem;
  padding-inline: 1.2rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3rem;
  row-gap: 6rem;
}
.logo-col {
  grid-row: 2;
}
@media (min-width: 50em) {
  .footer-section {
    grid-template-columns: repeat(4, 1fr);

    /* to set width */
    /* padding one side = 100vw - 1220px / 2  
    OR 1.2rem on ipad screens */

    padding-inline: max(calc((100vw - var(--screen-Max-Width)) / 2), 1.2rem);
  }
  .logo-col {
    grid-row: 1;
  }
}
.footer-section svg {
  width: var(--fs-400);
  height: var(--fs-400);
  fill: var(--clr-base-lt);
}
.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-col-heading {
  font-weight: var(--Semi-bold);
  font-size: var(--fs-500);
  color: var(--clr-base-lt);
  margin-bottom: 3rem;
}
.contact-col li {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.social-media-container {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0;
}
.icon-media {
  width: var(--fs-650) !important;
  height: var(--fs-650) !important;
}

/* ============================================ 
                  4-buttons
============================================  */
/* ------------------------------------------- 
      3.1- hero section btn (SHOP NOW)
-------------------------------------------  */
.hero-btn {
}

/* ------------------------------------------- 
      3.2- reviews left and right chevron
-------------------------------------------  */
.reviews-btns {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
}
.reviews-btns svg {
  fill: var(--clr-primary);
  stroke: var(--clr-primary);
  height: calc(var(--fs-base) + 2.4rem);
  width: calc(var(--fs-base) + 2.4rem);
}
.reviews-chevron--right {
  top: 50%;
  right: 0;
  transform: translate(15%, -50%);
}
.reviews-chevron--left {
  top: 50%;
  left: 0;
  transform: translate(-15%, -50%);
}
/* ------- reviews dots -------  */
.reviews-dots {
  display: flex;
  gap: 2rem;
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translate(50%, 100%);
}
.dot {
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
  border: 2px solid var(--clr-base);
  height: calc(var(--fs-base) + 0.1rem);
  width: calc(var(--fs-base) + 0.1rem);
  transition: var(--base-transition);
  flex-shrink: 0;
}
.dot-active {
  border: 3px solid var(--clr-primary);
  background-color: var(--clr-primary);
}
/* ------------------------------------------- 
      3.3- package section btns (buy + more info)
-------------------------------------------  */
.package-btn {
  margin: 1.9rem;
}
.package-link:link,
.package-link:visited {
  font-size: var(--fs-btn);
}
.package-link {
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
}
.package-link svg {
  width: var(--fs-600);
  height: var(--fs-600);
  fill: var(--clr-base);
  stroke: var(--clr-base);
}

/* ------------------------------------------- 
      3.3- contact section btn  (send-btn)
-------------------------------------------  */
.send-btn {
  align-self: flex-start;
  font-size: var(--fs-500);
}

/* ============================================ 
                  2- animations
                  
============================================  */
.btn:hover,
.btn:active {
  background-color: var(--clr-primary-lt);
  color: var(--clr-primary);
}

@keyframes link-arrows-animation {
  form {
    transform: translateX(0px);
  }

  to {
    transform: translateX(6px);
  }
}

/* ============================================ 
     4-classes that are manipulated by JS
============================================  */
/* ||JS|| classes for nav mobile */
/* button lines */
.line-1 {
  transform: translateY(100%) rotate(-45deg);
}
.line-3 {
  transform: translateY(-100%) rotate(45deg);
}
.line-2 {
  display: none;
}
/* nav slide */
.open {
  visibility: visible;
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
  filter: blur(0px);
}
.overlay {
  filter: blur(5px);
}

/* ||JS|| class for section smooth reveal */

.hid-section {
  transform: translateY(50%);
  filter: blur(5px);
  opacity: 0;
}
.section-smooth-reveal {
  /* just to select every section with this class from js */
  transition: all 0.5s;
}

.lazy-blur {
  filter: blur(4px);
}
