/*/* ============================================
============================================

0- Notes about the project system 
-----------------------------------
1- Global Css "root , body ..etc"
-----------------------------------
2- Sections work
2.1 nav
2.2 hero section [header text + map]
2.3 featured In section
2.4 company features "why use?"
2.5 
-----------------------------------
3- buttons 
3.1 hero section btn (SHOP NOW)
 ============================================
============================================ */

/*
--- TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 40
Semi-bold: 600
heading-Bold: 800

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
0.5px
0.75px

--- BORDER-RADIUS
Default: 4px
Medium: 11px

---  WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* ============================================ 
                  -global css
============================================  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* convert to 10px for using rem*/
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
}
:root {
  /* base colors */
  --clr-base: #555;
  --clr-base-lt: #999;
  --clr-base-dk: #333;

  /* primary colors */
  --clr-primary: #ee0202;
  --clr-primary-lt: #fde6e6;
  --clr-primary-dk: #9e0303;

  /* secondary colors */
  --clr-secondary-1: #94df01;
  --clr-secondary-2: #018f8f;
  --clr-secondary-lt: #80c7c77e;

  /* base font size */
  --fs-base: 1.6rem;

  /* larger  heading font sizes */
  --fs-giga: 6rem;
  --fs-mega: 4rem;
  --fs-kilo: 3.1rem;
  /* heading font sizes */
  --fs-h1: 2.8rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.8rem;
  /* smaller font sizes */
  --fs-milli: 1.4rem;
  --fs-micro: 1rem;

  /* 2 font family */
  --ff-base: "Rubik", sans-serif;
  --ff-bold: "Montserrat", sans-serif;

  /* border raduse */
  --border-r: 0.2rem;
  /* --shadow */
  --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  --shadow-lt: 0px 0px 13px -6px rgba(0, 0, 0, 0.51);
}
body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  color: var(--clr-base);
  line-height: 1;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
div > img {
  border-radius: var(--border-r);
}
li {
  list-style: none;
}

.mother-container {
  width: min(90%, 80rem);
  margin: 1rem auto;
}
.section-start--s-title {
  color: var(--clr-base-dk);
  font-size: var(--fs-milli);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}
.section-head--title {
  font-family: var(--ff-bold);
  color: var(--clr-primary);
  font-size: var(--fs-kilo);
  letter-spacing: -1px;
  margin-bottom: 11rem;
}
.btn {
  color: white;
  display: inline-block;
  font-family: var(--ff-bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: var(--clr-primary);
  font-weight: 600;
  padding: 0.5em 1.2em;
  border-radius: var(--border-r);
}
/* ============================================ 
                  2- sections work 
============================================  */
/* ------------------------------------------- 
                  2.1- nav
-------------------------------------------  */
.nav--bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;

  margin-bottom: 3.6rem;
}
.nav--bar .logo {
  color: var(--clr-primary);
  font-size: var(--fs-kilo);
  font-family: var(--ff-bold);
}
.nav--bar svg {
  height: 4rem;
  width: 4rem;
  stroke-width: 3;
  stroke: var(--clr-primary);
}
/* burger menu ----------------- */
.nav--links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: none;
}

/* ------------------------------------------- 
                  2.2- hero section
-------------------------------------------  */
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
}
.hero--head-title {
  font-size: var(--fs-mega);
  font-family: var(--ff-bold);
  color: var(--clr-base-dk);
  line-height: 1.05;
  letter-spacing: -1.5px;
  font-weight: 800;
  min-width: 90%;
  /* max-width: 400px; */
  margin-bottom: 2.4rem;
}
.hero-sub-text {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2.6rem;
}
/* deleting some text
.hero-sub-text span {
  color: var(--clr-primary);
  font-size: var(--fs-milli);
  font-weight: 500;
} */
.map-container {
  background-color: var(--clr-secondary-2);
  width: 100%;
  min-height: 30rem;

  box-shadow: var(--shadow);
}

/* ------------------------------------------- 
              2.3- featured In
-------------------------------------------  */

.featured-in-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 12rem;

  /* animation name depand on the scorll that comes from JavaScript [right,or left]*/
  animation: 6s linear infinite;
  /* animation-name: logos-left; */
}

.single-featured--container {
  flex-shrink: 0;
  flex-basis: 12rem;
}
.single-featured {
  display: block;
  max-width: 100%;
  opacity: 60%;
  filter: brightness(0);
}
/* hero title drill images */
.drill-relative {
  position: relative;
}
.drill-1 {
  max-width: none;
  width: 6em;
  position: absolute;
  top: -1.86em;
  left: 1em;

  transform: rotate(-225deg);
}
.drill-2 {
  max-width: none;
  width: 6em;
  position: absolute;
  top: -1.86em;
  left: -4.44em;

  transform: rotate(-45deg);
}

/* ------------------------------------------- 
           2.4- Features 01 02 03
-------------------------------------------  */
.featurs {
  background-color: var(--clr-secondary-lt);
  box-shadow: 0px -20px 0px 20px var(--clr-secondary-lt);
}

.featurs-title span {
  font-size: var(--fs-mega);
  color: var(--clr-secondary-2);
}
.featurs-grid--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
}
.feature-info {
  /* background-color: #b3dddd; */
  /* padding: 2rem; */
  margin-bottom: 4rem;
  position: relative;
}
.feature-info .feature-num {
  display: block;
  font-family: var(--ff-base);
  font-weight: 600;
  font-size: var(--fs-giga);
  color: var(--clr-secondary-2);
  opacity: 35%;
  position: absolute;
  top: -1em;
  left: -0.035em;
}

.feature-info .feature-title {
  font-size: var(--fs-h2);
  color: var(--clr-base-dk);
  margin-bottom: 1.8rem;
}
.feature-info .feature-text {
  max-width: 20em;
  line-height: 1.3;
}
.feature-img {
  margin-bottom: 14rem;
}
.feature-img:last-child {
  margin-bottom: 5rem;
}
/* ------------------------------------------- 
           2.4- reviews 
-------------------------------------------  */
/* s-title and head title style comes from globel secton */
.reviews {
  margin-top: 8rem;
}
.reviews-container {
  display: flex;
  gap: 3rem;
  /* border: 2px solid red; */

  position: relative;
  margin-bottom: 11rem;
}

.single-review-container {
  min-width: 100%;
  background-color: var(--clr-secondary-lt);
  padding: 4rem 3rem;
  border-radius: var(--border-r);
  position: relative;
}

.quotation_icon {
  width: 9rem;
  height: 9rem;
  fill: var(--clr-primary);

  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.stars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin-bottom: 3rem;
}
.stars-container svg {
  width: var(--fs-h3);
  height: var(--fs-h3);
}
.star {
  /* fill: #FDCC0D ; */
}

/* .facebook-icon {
  fill: var(--clr-primary-lt);
  width: var(--fs-h1) !important;
  height: var(--fs-h1) !important;
} */

.single-review--text {
  color: var(--clr-base-dk);
  line-height: 1.4;
  font-size: var(--fs-h3);
  max-width: 18em;
  margin-inline: auto;

  text-align: center;
  margin-bottom: 3rem;
}
.single-review--name {
  text-align: center;
  font-size: var(--fs-milli);
}

/* ------------------------------------------- 
           2.5- packages section
-------------------------------------------  */
.packages-section {
  margin-bottom: 11rem;
}
.packages-container {
  max-width: 35rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.single-package-container .package-img-container {
  width: 100%;
  height: 20rem;
  background: linear-gradient(
      22deg,
      rgba(238, 2, 2, 0.8) 0%,
      rgba(238, 2, 2, 0.4) 49%,
      rgba(238, 2, 2, 0.16) 100%
    ),
    url("../images/packages/woodworking.jpg") no-repeat center / cover;

  border-top-left-radius: var(--border-r);
  border-top-right-radius: var(--border-r);

  /* to move package heading to bottom */
  display: flex;
  flex-direction: column;
  justify-content: end;

  margin-bottom: 2rem;
}
.single-package-container:nth-child(2) .package-img-container {
  background: linear-gradient(
      22deg,
      rgba(238, 2, 2, 0.8) 0%,
      rgba(238, 2, 2, 0.4) 49%,
      rgba(238, 2, 2, 0.16) 100%
    ),
    url("../images/packages/metal.jpg") no-repeat center center / cover;
}
.single-package-container:nth-child(3) .package-img-container {
  background: linear-gradient(
      22deg,
      rgba(238, 2, 2, 0.8) 0%,
      rgba(238, 2, 2, 0.4) 49%,
      rgba(238, 2, 2, 0.16) 100%
    ),
    url("../images/packages/homeWorkShop.jpg") no-repeat center center / cover;
}

.package-heading {
  color: var(--clr-primary-lt);
  font-size: var(--fs-kilo);
  font-family: var(--ff-bold);
  letter-spacing: -0.5px;
}

.package-price {
  color: var(--clr-primary-lt);
  font-family: var(--ff-base);
  font-size: var(--fs-mega);
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}
.package-price span {
  font-size: var(--fs-h2);
}

.package-heading,
.package-list {
  padding: 2rem;
}

.single-package-container {
  border-radius: var(--border-r);
  box-shadow: var(--shadow-lt);
  overflow: hidden;
  position: relative;
}

.best-package {
  box-shadow: var(--shadow);
  transform: scale(1.06);
}
.best-package:before {
  content: "best value";
  color: var(--clr-primary);
  font-weight: 600;
  font-size: var(--fs-milli);
  background-color: rgba(255, 255, 0, 1);
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 0.2em 4em;
  transform: rotate(45deg);

  position: absolute;
  top: 2.6em;
  right: -4.3em;
}

.package-list {
  font-size: var(--fs-h2);
  font-weight: 500;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.package-list li {
  /* just to center the icons with list li */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.package-list svg {
  height: 1.1em;
  width: 1.1em;
  fill: var(--clr-base-dk);
}
/* ============================================ 
                  3-contect
============================================  */
.contact-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-section h2 {
  /* overwriting the value comming form "section-head--title" */
  margin-bottom: 2rem !important;
}
/* ============================================ 
                  4-buttons
============================================  */
/* ------------------------------------------- 
      3.1- hero section btn (SHOP NOW)
-------------------------------------------  */
.hero-btn {
  text-decoration: none;
  font-size: var(--fs-h2);
}

/* ------------------------------------------- 
      3.2- reviews left and right chevron
-------------------------------------------  */
.reviews-btns {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
}
.reviews-btns svg {
  fill: var(--clr-primary);
  stroke: var(--clr-primary);
  height: var(--fs-mega);
  width: var(--fs-mega);
}
.reviews-chevron--right {
  top: 50%;
  right: 0;
  transform: translate(15%, -50%);
}
.reviews-chevron--left {
  top: 50%;
  left: 0;
  transform: translate(-15%, -50%);
}

/* ------------------------------------------- 
      3.3- package section btns (buy + more info)
-------------------------------------------  */
.package-btn {
  font-size: var(--fs-h2);
  cursor: pointer;
  margin: 1.9rem;
}
.package-link:link,
.package-link:visited {
  /* display: inline-block; */
  font-size: var(--fs-h2);
  color: var(--clr-base);
  text-decoration: none;
}
.package-link {
  display: inline-flex;
  align-items: center;
  gap: 0.2em;
}
.package-link svg {
  width: var(--fs-h2);
  height: var(--fs-h2);
  fill: var(--clr-base);
  stroke: var(--clr-base);
}
/* ------------------------------------------- 
      3.1- hero section btn (SHOP NOW)
-------------------------------------------  */
.single-featured--container {
  animation: all;
}

@keyframes logos-left {
  100% {
    transform: translateX(-100%);
  }
}
@keyframes logos-right {
  100% {
    transform: translateX(100%);
  }
}
